form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

input {
  height: 25px;
  margin-bottom: 7px;
  font-size: 12px;
}

.Form_button {
  height: 28px;
  margin-bottom: 7px;
  background-color: lightblue;
  font-size: 14px;
}
